.header {
  position: relative;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 880px;
  }
}
